body {
    max-width: 1600px;
    align-items: center;
    margin: auto;
    font-family: Poppins, sans-serif;
    font-weight: 400
}

header {
    background-color: #2f2f2f;
    color: #fff;
    padding: 30px 10rem 0
}

main {
    align-items: center
}

.logo {
    background-image: url("./images/logo-back.png");
    background-size: 500%;
    background-position: 60% 50%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16pt;
    font-weight: 700
}

.menu {
    display: flex
}

.menu-detail {
    margin-left: auto
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row
}

.menu-detail ul {
    gap: 1rem
}

a {
    text-decoration: none
}

.menu-detail ul li a {
    color: #fff;
    opacity: 42%
}

.shop-now {
    margin-left: 2rem
}

.header-main {
    display: flex;
    align-items: center
}

.hero-area-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 40%
}

.subheading {
    text-transform: uppercase;
    color: #f59b00;
    font-weight: 500
}

.heading {
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 700
}

.stylish-back {
    background-image: url("./images/logo-back.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.header-text {
    opacity: 70%;
    line-height: 150%
}

.hero-area-image {
    display: grid;
    align-items: center
}

.hero-area-image-bakground,
.hero-area-image-main {
    grid-column: 1;
    grid-row: 1;
    margin: 0 auto
}

.big-yellow-btn {
    background: #f59b00;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    color: #fff
}

.big-yellow-btn a {
    color: #fff;
    text-decoration: none
}

main {
    align-content: center;
    color: #2f2f2f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%
}

.feature {
    margin: 4rem 6rem
}

.feature-heading {
    margin-bottom: 2rem
}

.feature-heading ul {
    display: flex;
    justify-content: space-between
}

.feature-heading ul li {
    flex-grow: 1;
    text-align: center;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f59B0020
}

.feature-selected-line {
    height: 5px;
    background-color: #f59b00;
    border-radius: 2.5px;
    position: relative;
    top: calc(1rem + 2.5px)
}

.feature-selected a {
    font-weight: 600
}

.feature-heading ul li a {
    color: #2f2f2f;
    opacity: 80%
}

.feature-images {
    display: flex;
    justify-content: space-between
}

.feature-image {
    flex-grow: 1;
    text-align: center
}

.feature-image img {
    width: 200px;
    border: 1px solid #a3a3A377;
    border-radius: 10px
}

.abouts {
    display: flex
}

.about-images {
    background-image: url("./images/background-bags.svg");
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 1000px;
    padding-left: 200px
}

.about-images img {
    grid-area: 1/1/1/1
}

#bag5 {
    height: 330px;
    margin-top: 100px
}

#bag6 {
    margin-left: 200px;
    height: 330px;
    margin-top: 100px
}

#bag7 {
    margin-left: 25px;
    height: 490px
}

.about-content {
    align-self: center;
    padding-right: 100px
}

.about-content * {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.heading-text {
    color: #2f2f2f;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700
}

.our-product {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px
}

.our-header {
    font-weight: 700;
    font-size: 2rem;
    color: #2f2f2f
}

.our-text {
    width: 510px;
    font-weight: 400;
    color: #2f2f2f;
    opacity: 90%
}

.our-table {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    margin-bottom: 100px;
    justify-content: space-between
}

.bag-background {
    width: 264px;
    height: 273px;
    border-radius: 10px
}

.bag8 {
    background-color: #ffe1e8
}

.bag9 {
    background-color: #ffe1e8
}

.bag14 {
    background-color: #f9dcff
}

.bag15 {
    background-color: #ffdee7
}

.bag10 {
    background-color: #ecf1ff
}

.bag11 {
    background-color: #fadade
}

.bag12 {
    background-color: #d9e6fe
}

.bag13 {
    background-color: #ebf4bf
}

.bag-background img {
    height: 250px;
    margin-top: 70px
}

.our-more {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    border: 1px solid #f59b00
}

.our-more a {
    text-decoration: none;
    color: #f59b00
}

.cta {
    display: flex;
    margin-top: 100px;
    background: #2f2F2FF2;
    box-shadow: 0 0 30px 4px #e8e8E866;
    border-radius: 10px
}

.cta-image {
    position: relative;
    border-radius: 10px 0 0 10px;
    background-image: url("./images/with-bag.png");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 625px;
    width: 492px;
    height: 549px
}

.image-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2f2F2F99;
    border-radius: 10px 0 0 10px
}

.cta-form {
    background: #2f2F2FF2;
    opacity: 95%;
    width: 654px;
    height: 549px;
    border-radius: 0 10px 10px 0;
    display: flex
}

.cta-form form {
    margin: auto 70px;
    color: #fff;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 35px
}

h4 {
    font-weight: 700
}

.cta-form form h4 {
    font-family: Poppins;
    font-size: 31px;
    line-height: 43.4px;
    text-align: left;
    grid-column: span 2
}

.adress {
    grid-column: span 2
}

.cta-form form input {
    background-color: #2f2f2f;
    border-radius: 10px;
    height: 54px;
    padding-left: 40px;
    color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #777;
    font-family: Poppins
}

.cta-form form div {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    color: #777;
    display: flex;
    align-items: center
}

.cta-form form div input {
    background-color: #2f2F2FF2;
    border: 1px solid #777
}

.social-proof {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.social-proof img {
    height: 80px
}

footer {
    margin-top: 50px;
    background: #2f2F2FEB;
    color: #a3a3a3;
    width: 1600px;
    padding-top: 100px;
    padding-bottom: 100px
}

.inner-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto
}

.footer-column {
    width: 225px
}

.footer-column .logo {
    margin-bottom: 25px
}

.footer-header {
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px
}

.footer-text {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px
}

.footer-email {
    border: 1px solid #777;
    background-color: #3f3f3f;
    border-radius: 10px;
    height: 54px;
    padding-left: 40px;
    color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    font-family: Poppins;
    margin-bottom: 25px
}

.widthblock {
    width: 1146px
}